@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: #ffa500;
    --accent-rgb: 255, 165, 0;
    --accent-light: #ffb733;
    --accent-dark: #cc8400;
    --text-on-accent: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-mask-b {
    mask-image: linear-gradient(to bottom, black, transparent);
  }

  .gradient-mask-t {
    mask-image: linear-gradient(to top, black, transparent);
  }
}

